html{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

/* 
###########################################
        App
###########################################
*/

.App--titulo{
  text-align: center;
}

.App--nombre{
  text-align: center;
  margin-bottom: 5px;
}

.App--repositorio{
  text-align: center;
}

.App--espacio{
  height: 100px;
}

.App--seleccionar{
  display: flex;
  justify-content: center;
}

  .App--seleccionar>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }

/* 
###########################################
        Entrada sistemas
###########################################
*/

.entrada-sistemas{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  .entrada-sistemas--form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }


/* 
###########################################
        Matriz aumentada
###########################################
*/

.matriz-aumentada{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .matriz-aumentada--simbolos>p{
    font-size: 10rem;
    font-weight: 100;
    margin: 0;
  }

  .matriz-aumentada--datos{
    font-size: 2rem;
    text-align: center;
  }
  .matriz-aumentada--datos>tbody>tr>td{
    min-width:50px;
  }

/* 
###########################################
        Resolver
###########################################
*/

  .resolver--paso{
    text-align: center;
  }

  .resolver--solucion{
    text-align: center;
  }

/* 
###########################################
        Tabla regresion
###########################################
*/
.tabla-regresion{
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px black;
  border-collapse: collapse;
}

  .tabla-regresion>tbody>tr>th{
    border: solid 1px black;
    min-width: 50px;
  }
  .tabla-regresion>tbody>tr>td{
    border: solid 1px black;
  }



.grafica{
  margin-top: 75px;
}


